.pie {
	width: 36px;
	height: 36px;
	background-color: blue;
	border-radius: 100px;
	position: absolute;
}

.pie1 {
	clip: rect(0px, 36px, 36px, 18px);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	background: -moz-radial-gradient(20% 50% 0deg, #333, #0000ff);
	background: -webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#000),
		to(#d32));
}

.pie2 {
	clip: rect(0px, 18px, 36px, 0px);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	background: -moz-radial-gradient(80% 50% 0deg, #333, #0000ff);
	background: -webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#000),
		to(#d32));
}

.hold {
	width: 36px;
	height: 36px;
	position: absolute;
	z-index: 1;
}

.hold1 {
	clip: rect(0px, 36px, 36px, 18px);
}

.hold2 {
	clip: rect(0px, 18px, 36px, 0px);
}

.bg {
	width: 32px;
	height: 32px;
	border-radius: 100px;
	position: absolute;
	box-shadow: 0px 0px 8px #DDDDDD;
	background: -moz-radial-gradient(0% 50% 0deg, #900, #ff0000);
	background: rgb(228, 228, 228);
	z-index: 1;
	top: 2px;
	left: 2px;
	line-height: 34px;
	text-align: center;
	font-size: smaller;
}

.header-left {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;
}