.pie {
	width: 24px;
	height: 24px;
	background-color: blue;
	border-radius: 100px;
	position: absolute;
}

.pie1 {
	clip: rect(0px, 24px, 24px, 12px);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	background: -moz-radial-gradient(20% 50% 0deg, #333, #0000ff);
	background: -webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#000),
		to(#d32));
}

.pie2 {
	clip: rect(0px, 12px, 24px, 0px);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	background: -moz-radial-gradient(80% 50% 0deg, #333, #0000ff);
	background: -webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#000),
		to(#d32));
}

.hold {
	width: 24px;
	height: 24px;
	position: absolute;
	z-index: 1;
}

.hold1 {
	clip: rect(0px, 24px, 24px, 12px);
}

.hold2 {
	clip: rect(0px, 12px, 24px, 0px);
}

.bg {
	width: 24px;
	height: 24px;
	border-radius: 100px;
	position: absolute;
	box-shadow: 0px 0px 8px #333;
	background: -moz-radial-gradient(0% 50% 0deg, #900, #ff0000);
	background: transparent;
}

.time {
	width: 20px;
height: 20px;
margin: 2px 0 0 2px;
background-color: white;
border-radius: 45px;
position: absolute;
z-index: 1;
box-shadow: 0px 0px 1px #333 inset;
text-align: center;
line-height: 20px;
font-family: "Book Antiqua", Palatino, serif;
font-weight: bold;
text-shadow: 1px 1px 3px #333;
}

.time em {
	background: #fff;
	position: absolute;
	top: 62px;
	left: 12px;
	height: 18px;
	width: 140px;
	opacity: 0.4;
}