@CHARSET "UTF-8";

body,div,input,textarea,select,p,table,th,td,tr {
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti,
		MingLiu;
	color: #696969;
	font-size: 21px;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

#main {
	height: 100%;
}

.headContainer {
	margin-top: 10px;
}

html,body {
	
}

#head {
	width: 100%;
	margin-top: 0;
	height: 57px;
	z-index: 3000;
	position: fixed;
}

#middle {
	width: 100%;
	background-color: #b1b1b1;
	top: 59px;
	height: 90%;
	position: absolute;
}

#leftColumn {
	width: 20%;
	height: 100%;
	float: left;
	left: 0;
	overflow: auto;
	position: fixed;
}

#leftColumnDiv {
	width: 100%;
	height: 100%;
	background-color: #b1b1b1;
	overflow-x: hidden;
	overflow-y: auto;
}

#centerColumn {
	width: 50%;
	left: 20%;
	position: relative;
}

#foot {
	height: 12%;
	background-color: #BEB5E9;
	width: 100%;
}

#intro {
	width: 100%;
	height: 100%;
}

#mybooks {
	
}

#loginInfo {
	position: relative;
	top: 10px;
	float: right;
}

.loginLabel {
	float: left;
	width: 31px;
	position: relative;
	margin-left: 20px;
}

.loginInput {
	float: left;
	width: 200px;
	position: relative;
}